// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	box-shadow: 12px 11px 50px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	padding: 1px 0;
	&__contact{
		text-align: right;
		.tel{
			display: block;
			text-align: right;
			color: #5e4f9c;
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 8px;
			padding-right: 10px;
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		.button{
			padding: 8px 20px;
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		.tel-trigger{
			display: none;
			@include mq($max-width: 992px) {
				display: block;
			}
		}
	}
 }
 	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px; 
		img{
			position: relative;
			display: block;
			margin: 0 auto;
		}
		@include mq($max-width: 992px) {
			padding: 10px 0 5px 0;
			height: auto;
		}
	 }
	 .menu-trigger{
		color: #f26723;
		font-size: 24px;
		font-weight: 300;
		line-height: 20px;
		text-transform: uppercase;
		button{
			cursor: pointer;
			color: #f26723;
			font-size: 24px;
			font-weight: 300;
			line-height: 20px;
			text-transform: uppercase;
			display: block;
			background: none;
			border: none; 
			@include mq($max-width: 992px) {
				font-size: 0;
			}
			i{
				color: #5e4f9c;
				padding-right: 7px;
				@include mq($max-width: 992px) {
					font-size: 24px;
				}
			}
		}
	 }
	 .mobile-tel{
		 display: none;
		@include mq($max-width: 992px) {
			display: block;
			text-align: center;
			color: #5e4f9c;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 10px;
		}
	 }
	.menu{
		position: fixed;
		top: 0;
		//left: -440px;
		width: 440px;
		height: 100vh;
		background: #5a4f93;
		z-index: 50;
		box-sizing: border-box;
		padding: 15px 24px;
		text-align: center;
		overflow-y: hidden;
		@include transition(all 0.5s);
		&__inner{
			overflow-y: auto;
			height: 100vh;
		}
		&.active{
			left: 0;
		}
		&__logo{
			display: block;
			padding-bottom: 55px;
		}
		ul{
			color: #ffffff;
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			text-transform: uppercase;
			text-align: left;
			padding-bottom: 60px;
			li{
				padding-bottom: 30px;
				position: relative;
				padding-left: 28px;
				&:before{
					position: absolute;
					left: 0;
					top: 0;
					content: '';
					width: 20px;
					height: 20px;
					background-color: #f26723;
					opacity: 0.4;
					border-radius: 50%;
				}
				&:after{
					position: absolute;
					left: 4px;
					top: 4px;
					content: '';
					width: 12px;
					height: 12px;
					background-color: #f26723;
					border-radius: 50%;
				}
				a{
					text-decoration: none;
				}
				&:hover{
					&:after{
						background: #fff;
					}
				}
			}
		}
		&__button{
			padding-bottom: 60px;
			.button{
				border-radius: 33px;
				font-size: 24px;
				box-shadow: 0 0 40px rgba(235, 93, 19, 0.25);
			}
		}
		&__overlay{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.8;
			z-index: 49;
			display: none;
			&.active{
				display: block;
			}
		}
	}
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	//@include povh('');
 }
 	.bnr{
		 background: url(../img/top-bg.jpg) no-repeat center bottom;
		 background-size: cover;
		 padding: 170px 0;
		 @include mq($max-width: 992px) {
			background-position: bottom left;
			padding: 85px 0 138px;
		}
		 &__title{
			padding: 20px 0;
			background-color: rgba(235, 93, 19, 0.7);
			color: rgba(255,255,255, 1);
			font-weight: 700;
			line-height: 65px;
			text-transform: uppercase;
			font-size: 46px;
			letter-spacing: 2.3px;
			text-align: center;
			@include mq($max-width: 992px) {
				font-size: 30px;
				line-height: 1.4;
				padding: 39px 0 37px 0;
			}
		 }
		 &__subtitle{
			background-color: rgba(94, 79, 156, 0.7);
			padding: 21px 0 19px 0;
			text-align: center;
			color: #ffffff;
			font-size: 24px;
			font-weight: 400;
			line-height: 41px;
			.button{
				text-transform: none;
				font-size: 24px;
				border-radius: 25px;
				vertical-align: middle;
				padding: 5px 10px;
				@include mq($max-width: 992px) {
					font-size: 18px;
					//display: block;
				}
			}
			@include mq($max-width: 992px) {
				font-size: 18px;
				line-height: 1.4;
				padding: 46px 0 40px 0;
				br{
					//display: none;
				}
			}
		 }
		 &__button{
			 margin-top: 57px;
			 text-align: center;
			 .button{
				font-size: 24px;
				box-shadow: 0 0 40px rgba(235, 93, 19, 0.25);
				border-radius: 33px;
				padding: 16px 27px;
				font-weight: 300;
				@include mq($max-width: 992px) {
					font-size: 20px;
					padding-left: 19px;
					padding-right: 19px;
				}
			 }
		 }
		 
	 }
	.child{
		color: #5e4f9c;
		font-size: 16px;
		font-weight: 400;
		&__list{
			padding-top: 28px;	
			@include mq($max-width: 992px) {
				padding-top: 0;
			} 
		}
		&__img{
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		.title{
			padding-bottom: 74px;
			@include mq($max-width: 992px) {
				padding-bottom: 39px;
			}
		}
		p{
			padding-bottom: 9px;
			padding-left: 15px;
			&.child__title{
				padding-bottom: 10px;
				padding-left: 0;
			}
			.button{
				font-size: 24px;
				font-weight: 700;
				letter-spacing: 1.2px;
				padding: 2px 14px;
				&:hover{
					background: none;
					color: #f26723;
				}
			}
		}
		em, strong{
			font-style: normal;
			color: #eb5d13;
		}
		&__button{
			background: url(../img/child-bg.png) no-repeat center  top;
			background-size: cover;
			height: 207px;
			margin-top: -75px;
			position: relative;
			.container{
				display: flex;
				justify-content: center;
				align-items: flex-end;
				height: 100%;
			}
			.button{
				width: 348px;
				height: 65px;
				box-shadow: 0 0 40px rgba(235, 93, 19, 0.25);
				border-radius: 33px;
				font-weight: 300;
				font-size: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 30px;
				@include mq($max-width: 992px) {
					margin-bottom: 20px;
					font-size: 20px;
					width: 290px;
					height: 55px;
					//padding: 0;
				}
			}
			@include mq($max-width: 992px) {
				margin-top: 0;
				font-size: 20px;
				height: 150px;
				//background-size: auto;
			} 
		}
	}
		.title{
			color: #5e4f9c;
			font-size: 36px;
			font-weight: 300;
			line-height: 41px;
			text-transform: uppercase;
			text-align: center;
			@include mq($max-width: 992px) {
				font-size: 30px;
				text-align: left;
			}
		}
	.preference{
		padding: 93px 0 107px 0;
		@include mq($max-width: 992px) {
			padding-top: 40px;
		}
		.title{
			padding-bottom: 65px;
			@include mq($max-width: 992px) {
				padding-bottom: 27px;
				text-align: center;
			}
		}
		.col-lg-3:nth-child(even){
			.preference__numb{
				background: #eb5d13;
			}
		}
		&__item{
			box-shadow: 0 0 27px 3px rgba(153, 153, 153, 0.15);
			border-radius: 10px;
			background-color: #ffffff;
			height: calc(100% - 30px);
			margin-bottom: 30px;
			padding: 20px;
			color: #5e4f9c;
			font-size: 14px;
			font-weight: 300;
			line-height: 18px;
			position: relative;
			h6{
				color: #eb5d13;
				font-size: 16px;
				font-weight: 400;
				padding-bottom: 17px;
			}
			em{
				font-style: normal;
				color: #eb5d13;
			}
			p{
				padding-bottom: 18px;
			}
		}
		&__img{
			display: block;
			text-align: center;
			height: 110px;
			padding-bottom: 15px;
		}
		&__numb{
			position: absolute;
			width: 49px;
			height: 49px;
			box-shadow: 0 0 40px rgba(94, 79, 156, 0.25);
			background-color: #5e4f9c;
			color: #ffffff;
			font-size: 30px;
			font-weight: 300;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			top: -14px;
			left: -14px;
			z-index: 3;
		}
	}
	.content{
		color: #5e4f9c;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		padding-bottom: 106px;
		&.content-admin{
			padding-bottom: 80px;
			.title{
				@include mq($max-width: 992px) {
					padding-bottom: 25px;
				}
			}
			@include mq($max-width: 992px) {
				padding-bottom: 50px;
			}
		}
		.title{
			padding-bottom: 30px;
		}
		p{
			padding-bottom: 15px;
			strong{
				font-weight: normal;
				color: #eb5d13;
			}
		}
		&__title{
			padding-bottom: 25px;
			position: relative;
			color: #5e4f9c;
			font-size: 36px;
			font-weight: 300;
			line-height: 53px;
			text-transform: uppercase;
			display: inline-block;
			&.content__title-admin{
				margin-top: -16px;
				@include mq($max-width: 992px) {
					margin-top: 0;
					font-size: 16px;
					line-height: 33px;
					padding-bottom: 10px;
				}
			}
			&.mobile-title{
				@include mq($max-width: 992px) {
					margin-top: 0;
					font-size: 16px;
					line-height: 33px;
				}
			}
			&.valign{
				margin-top: -40px;
			}
		}
		&__title-bottom{
			color: #ffffff;
			padding-right: 28px;
			@include mq($max-width: 992px) {
				padding-right: 20px;
			}
			strong, small{
				font-weight: 300;
				position: relative;
				z-index: 2;
			}
			small{
				font-size: 22px;
				@include mq($max-width: 992px) {
					font-size: 16px;
				}
			}
				position: relative;
				display: block;
				&:before{
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 100vw;
					border-radius: 0 28px 28px 0;
					background: #eb5d13;
				}
		}
		img{
			width: 100%;
		}
		&__slider-block{
			box-shadow: 0 0 40px rgba(94, 79, 156, 0.4);
			img, iframe{
				display: block;
			}
		}
		&__img{
			box-shadow: 0 0 40px rgba(94, 79, 156, 0.4);
			img, iframe{
				display: block;
			}
		}
		&__slider{
			position: relative;
			@include mq($max-width: 992px) {
				margin-top: 50px;
			}
			a{
				display: block;
			}
			&-item{
				display: block;
				margin-bottom: -10px;
				padding-bottom: 0;
			}
			.slick-dots{
				position: absolute;
				bottom: -40px;
				text-align: center;
				width: 100%;
				left: 0;
				li{
					display: inline-block;
					padding: 0 3px;
					&.slick-active{
						button{
							background: #eb5d13;
						}
					}
				}
				button{
					@include hide-text;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					border: 1px solid #eb5d13;
					background-color: #ffffff;
					@include mq($max-width: 992px) {
						width: 12px;
						height: 12px;
					}
				}
			}
		}
	}
	.money{
		padding: 26px 0;
		box-shadow: 0 0 40px rgba(94, 79, 156, 0.4);
		background-color: #5e4f9c;
		margin-bottom: 99px;
		@include mq($max-width: 992px) {
			padding: 19px 0 50px 0;
			margin-bottom: 68px;
		}
		.title{
			color: #fff;
			text-align: left;
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		.button{
			font-size: 24px;
			box-shadow: 0 0 40px rgba(235, 93, 19, 0.25);
			border-radius: 33px;
			font-weight: 300;
		}
		img{
			max-width: 100%;
		}
		&__button{
			text-align: right;
			@include mq($max-width: 992px) {
				text-align: center;
				margin-top: 35px;
			}
		}
		.copyright-ucalc{
			display: none !important;
		}
		&__img{
			display: flex;
			align-items: center;
			.title{
				display: none;
				@include mq($max-width: 992px) {
					display: block;
					padding-left: 8px;
				}
			}
		}
		&__calc{
				overflow: hidden;
				height: 283px;
		}
	}
	.bussiness-wrapper{
		padding-bottom: 60px;
	}
	.bussiness{
		margin-top: -6px;
		p{
			font-size: 16px;
			padding-bottom: 5px;
		}
	}
	.map{
		padding-bottom: 98px;
		iframe{
			display: block;
			width: 100%;
			height: 585px;
			@include mq($max-width: 992px) {
				height: 298px;
			}
		}
		@include mq($max-width: 992px) {
			padding-bottom: 54px;
		}
	}
	.franchising{
		padding-bottom: 90px;
		@include mq($max-width: 992px) {
			padding-bottom: 0px;
		}
		.title{
			padding-bottom: 80px;
			@include mq($max-width: 992px) {
				padding-bottom: 44px;
			}
		}
		&__item{
			box-shadow: 0 0 27px 3px rgba(153, 153, 153, 0.15);
			border-radius: 10px;
			background-color: #ffffff;
			padding: 30px;
			padding-top: 0;
			color: #eb5d13;
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			height: 100%;
			@include mq($max-width: 992px) {
				height: auto;
				margin-bottom: 27px;
			}
			figure{
				text-align: center;
				padding-bottom: 10px;
				//height: 140px;
				//padding-bottom: 25px;
			}
			p{
				margin-top: -20px;
				letter-spacing: -0.7px;
			}
		}
	}
	.videos{
		padding: 93px 0 55px 0;
		background: url(../img/fixed-bg.jpg) no-repeat center;
		background-size: cover;
		background-attachment: fixed;
		color: #ffffff;
		font-size: 16px;
		font-weight: 300;
		line-height: 22px;
		letter-spacing: 0.32px;
		@include mq($max-width: 992px) {
			padding-bottom: 0px;
		}
		figcaption{
			padding-top: 11px;
		}
		img, iframe{
			display: block;
			width: 100%;
		}
		&__item{
			@include mq($max-width: 992px) {
				padding-bottom: 44px;
			}
		}
	}
	.structure{
		padding: 81px  0;
		@include mq($max-width: 992px) {
			padding: 44px 0;
		}
		.title{
			padding-bottom: 34px;
		}
		.col-6{
			&:nth-child(odd){
				@include mq($max-width: 992px) {
					&:before{
						content: '';
						position: absolute;
						top: 0;
						right: 0%;
						margin-right: -1px;
						width: 2px;
						height: 40px;
						background-color: #d1d1d1;
					}
				}
			}
		}
		&__button{
			text-align: center;
			padding-bottom: 19px;
			h5{
				display: inline-block;
				color: #5752aa;
				font-size: 32px;
				line-height: 41px;
				letter-spacing: 6.99px;
				width: 395px;
				height: 62px;
				line-height: 62px;
				background: url(../img/structure-button.png) no-repeat center;
				box-shadow: 0 0 47px 16px rgba(235, 93, 19, 0.05);
				@include mq($max-width: 992px) {
					font-size: 24px;
					letter-spacing: 5px;
					width: auto;
					//background: url(../img/structure-button-mobile.png) no-repeat center;
					background-size: 100% 100%;
					display: block;
					max-width: 395px;
					margin: 0 auto;
				}
			}
		}
		&__line{
			display: block;
			text-align: center;
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		figure{
			text-align: center;
			padding-bottom: 20px;
			@include mq($max-width: 992px) {
				padding-top: 55px;
			}
		}
		p{
			text-align: center;
			color: #eb5d13;
			font-size: 24px;
			font-weight: 300;
			line-height: 30.98px;
			@include mq($max-width: 992px) {
				font-size: 19px;
				line-height: 1.4;
			}
		}
	}
	.partner{
		background: url(../img/partner.jpg) no-repeat center bottom -15px;
		background-size: cover;
		padding: 75px 0 0 0;
		color: #5e4f9c;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 75px;
		@include mq($max-width: 992px) {
			margin-bottom: 40px;
		}
		.title{
			text-align: left;
			padding-bottom: 41px;
			@include mq($max-width: 992px) {
				padding-bottom: 36px;
			}
		}
		&__button{
			text-align: right;
			@include mq($max-width: 992px) {
				text-align: center;
			}
		}
		h4{
			color: #ffffff;
			font-size: 22px;
			font-weight: 300;
			line-height: 34px;
			text-transform: uppercase;
			@include mq($max-width: 992px) {
				font-size: 16px;
				line-height: 24px;
				padding-bottom: 22px;
			}
		}
		ul{
			padding-bottom: 84px;
			li{
				padding-bottom: 3px;
				&:before{
					font-weight: 900;
					font-family: "Font Awesome 5 Free";
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					content: "\f005";
					color: #eb5d13;
				}
			}
		}
		&__bottom{
			padding-bottom: 30px;
			.button{
				font-size: 24px;
				font-weight: 300;
				border-radius: 33px;
				@include mq($max-width: 1200px) {
					font-size: 18px;
				}
			}
			@include mq($max-width: 992px) {
				text-align: center;
			}
			@include mq($max-width: 575px) {
				background: url(../img/partner-bottom.png) no-repeat bottom center;
				background-size: 100% 100%;
				padding-top: 118px;
				margin-top: -130px;
			}
		}
		&__container{
			padding-bottom: 37px;
		}
	}
	.client-wrap{
		padding-bottom: 147px;
	}
	.clients{
		margin: 0 auto;
		max-width: 1006px;
		margin-top: 90px;
		@include mq($max-width: 992px) {
			margin-top: 40px;
		}
		.slick-arrow{
			position: absolute;
			top: 50%;
			z-index: 15;
			background: url(../img/arrow-left.png) no-repeat center;
			width: 29px;
			height: 54px;
			margin-top: -27px;
			@include hide-text;
			&.slick-next{
				right: -60px;
				@include mirror_flip();
				@include mq($max-width: 1200px) {
					right: -20px;
				}
			}
			&.slick-prev{
				left: -60px;
				@include mq($max-width: 1200px) {
					left: -20px;
				}
			}
			@include mq($max-width: 992px) {
				display: none;
				opacity: 0;
			}
		}
		&__item{
			a{
				display: block;
				width: 165px;
				height: 165px;
				overflow: hidden;
				//box-shadow: 0 0 19px 2px rgba(226, 96, 21, 0.25);
				border: 5px solid rgba(226, 96, 21, 0.2);
				//background-color: #f26723;
				border-radius: 4px;
				margin: 0 auto;
				@include mq($max-width: 992px) {
					width: 291px;
					height: 291px;
				}
			}
			img{
				display: block;
			}
		}
		.slick-dots{
			position: absolute;
			bottom: -47px;
			text-align: center;
			width: 100%;
			left: 0;
			li{
				display: inline-block;
				padding: 0 3px;
				&.slick-active{
					button{
						background: #5a4f93;
						border-color: #5a4f93;
						opacity: 1; 
					}
				}
			}
			button{
				@include hide-text;
				border-radius: 50%;
				background-color: #ffffff;
				box-sizing: border-box;
				width: 20px;
				height: 20px;
				border: 4px solid #5a4f93;
				opacity: 0.2;
				&:hover{
					background: #5a4f93;
				}
				@include mq($max-width: 992px) {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
	.prof-wrap{
		padding-bottom: 23px;
		.content__title{
			padding-bottom: 0;
			@include mq($max-width: 992px) {
				display: block;
				padding-bottom: 16px;
				.content__title-bottom{
					padding: 17px 0 19px 0;
					line-height: 34px;
				}
				.content__title-bottom:before{
					border-radius: 0;
					width: 200vw;
					left: -100vw;
				}
			}
		}
	}
	.prof{
		margin: 0 auto;
		max-width: 980px;
		margin-top: 42px;
		&__item{
			padding: 0 17px;
			font-size: 16px;
			figure{
				padding-bottom: 12px;
			}
		}
		.slick-dots{
			position: absolute;
			bottom: -40px;
			text-align: center;
			width: 100%;
			left: 0;
			li{
				display: inline-block;
				padding: 0 3px;
				&.slick-active{
					button{
						background: #5a4f93;
						border-color: #5a4f93;
						opacity: 1; 
					}
				}
			}
			button{
				@include hide-text;
				border-radius: 50%;
				background-color: #ffffff;
				box-sizing: border-box;
				width: 20px;
				height: 20px;
				border: 4px solid #5a4f93;
				opacity: 0.2;
				&:hover{
					background: #5a4f93;
				}
			}
		}
		.slick-arrow{
			position: absolute;
			top: 50%;
			z-index: 15;
			background: url(../img/arrow-left.png) no-repeat center;
			width: 29px;
			height: 54px;
			margin-top: -27px;
			@include hide-text;
			&.slick-next{
				right: -60px;
				@include mirror_flip();
				@include mq($max-width: 1200px) {
					right: -20px;
				}
			}
			&.slick-prev{
				left: -60px;
				@include mq($max-width: 1200px) {
					left: -20px;
				}
			}
			@include mq($max-width: 992px) {
				display: none;
				opacity: 0;
			}
		}
	}
	.cite{
		@include mq($max-width: 1200px) {
			padding-top: 30px;
		}
		@include mq($max-width: 992px) {
			padding-top: 60px;
		}
		.title{
			text-align: left;
			margin-top: -25px;
			@include mq($max-width: 992px) {
				margin-top: 0;
				margin-bottom: 30px;
			}
		}
		&__section{
			background: url(../img/cite.png);
			//margin-top: 27px;
			width: 793px;
			height: 288px;
			margin-left: -22px;
			position: relative;
			overflow: hidden;
			@include mq($max-width: 992px) {
				width: auto;
				height: auto;
				margin-left: 0;
				overflow: visible;
				box-shadow: 0 0 27px 3px rgba(153, 153, 153, 0.15);
				border-radius: 10px;
				background: #ffffff;
				z-index: 5;
			}
			blockquote{
				position: relative;
				margin: 50px 58px;
				width: 613px;
				box-sizing: content-box;
				color: #eb5d13;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.4;
				@include mq($max-width: 992px) {
					width: auto;
					margin: 0;
					padding: 33px 29px 44px 40px;
				}
				&:before{
					content: url(../img/qoute.png) ;
					position: absolute;
					left: -25px;
					top: -17px;
					z-index: 2;
					@include mq($max-width: 992px) {
						top: 10px;
						left: 10px;
					}
				}
				&:after{
					content: url(../img/qoute.png) ;
					position: absolute;
					right: -13px;
					bottom: 13px;
					z-index: 2;
					transform: scale(-1);
					@include mq($max-width: 992px) {
						top: 10px;
						right: 10px;
					}
				}
				p{
					padding-bottom: 15px;
				}
			}
		}
		&__img{
			text-align: right;
			padding: 25px 0 0 0;
			@include mq($max-width: 992px) {
				display: none;
			}
			img{
				display: inline-block;
			}
		}
	}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	background: url(../img/footer-bg.png) no-repeat center bottom ;
	background-size: 100% 100%;
	color: #5e4f9c;
	font-size: 16px;
	font-weight: 400;
	min-height: 287px;
	display: flex;
	align-items: flex-end;
	position: relative;
	z-index: 2;
	margin-top: -93px;
	@include mq($max-width: 992px) {
		margin-top: 0;
	}
	@include mq($max-width: 575px) {
		background: none;
	}
	h4{
		color: #ffffff;
		font-size: 22px;
		font-weight: 300;
		line-height: 34px;
		text-transform: uppercase;
		@include mq($max-width: 992px) {
			padding-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
		}
	}
	.partner__bottom{
		padding-bottom: 70px;
		@include mq($max-width: 992px) {
			padding-bottom: 20px;
		}
		
	}
 }
.modal{
	position: relative;
	background: #fff;
	box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.05);
	overflow: visible;
	padding-bottom: 0;
	@include mq($max-width: 992px) {
		padding: 20px;
	}
	.title{
		padding-bottom: 10px;
		strong{
			color: #f26723;
		}
		@include mq($max-width: 992px) {
			text-align: center;
			font-size: 22px;
			line-height: 1.4;
		}
	}
	img{
		display: block;
		@include mq($max-width: 992px) {
			&.hide-mobile{
				display: none;
			}
		}
	}
	p{
		text-align: center;
		padding-bottom: 35px;
		color: #8f8f8f;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	&__form{
		input{
			color: #f26723;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.28px;
			height: auto;
			border: none;
			width: 100%;
			border-radius: 0;
			box-shadow: none !important;
			padding: 0;
			border-bottom: 1px solid #f26723;
		}
		.button{
			width: 100%;
			font-size: 22px;
			font-weight: 300;
			letter-spacing: 0.44px;
			border-radius: 26px;
			@include mq($max-width: 992px) {
				max-width: 220px;
				margin: 0 auto;
				display: block;
			}
		}
	}
	&__form-item{
		padding-bottom: 45px;
	}
	.fancybox-close-small{
		display: none;
	}
	&__success-img{
		padding-bottom: 25px;
		img{
			margin: 0 auto;
		}
	}
	&.modal-thank{
		p{
			color: #5a4f93;
			font-size: 18px;
			font-weight: 300;
			padding-bottom: 20px;
		}
		.title{
			font-size: 24px;
		}
	}
}
.close-modal{
	position: absolute;
	right: -14px;
	top: -14px;
	line-height: 35px;
	border-radius: 50%;
	cursor: pointer;
	width: 35px;
	height: 35px;
	box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	text-align: center;
	z-index: 10000;
	@include mq($max-width: 992px) {
		opacity: 0;
	}
}
/*----------end footer----------*/


/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	fill: #5A4F93;
	z-index: 1000;
}

/* Shown menu */
.show-menu .menu {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .wrapper {
	// -webkit-transition-delay: 0.1s;
	// transition-delay: 0.1s;
	// -webkit-transform: translate3d(00px,0,0);
	// transform: translate3d(00px,0,0);
}

.show-menu .content::before {
	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Menu */
.menu {
	z-index: 1001;
	height: 100vh;
	left: 0;
	transform: translate3d(-440px,0,0);
	transition: transform 0.3s;
	background: -moz-linear-gradient(left,  rgba(90,79,147,1) 0%, rgba(90,79,147,1) 79%, rgba(90,79,147,0) 80%, rgba(90,79,147,0) 98%);
background: -webkit-linear-gradient(left,  rgba(90,79,147,1) 0%,rgba(90,79,147,1) 79%,rgba(90,79,147,0) 80%,rgba(90,79,147,0) 98%);
background: linear-gradient(to right,  rgba(90,79,147,1) 0%,rgba(90,79,147,1) 79%,rgba(90,79,147,0) 80%,rgba(90,79,147,0) 98%);
	a, img{
		position: relative;
		z-index: 10000;
	}
}