// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
  img{
      max-width: 100%;
  }
  .child .row{
      align-items: flex-end
  }
  .child__button .button{
      width: auto;
  }
  .content__title-bottom{
      line-height: 1.2;
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

@include mq($max-width: 992px) {
    .hide-mobile{
        display: none;
    }
}