<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- bnr -->
<div class="bnr">
    <div class="bnr__title">
        <div class="container">
            Откройте свой бизнес <br> по надежной франшизе
        </div>
    </div>
    <div class="bnr__subtitle">
        <div class="container">
            Получайте стабильный доход   <a  data-fancybox data-src="#modal"   class="button">от <strong>2000$</strong>  в месяц</a> <br>
            развивая следующее поколение.
        </div>
    </div>
    <div class="bnr__button">
        <div class="container">
            <a data-fancybox data-src="#modal"  class="button">получить бизнес-план</a>
        </div>
    </div>
</div>
<!-- /bnr -->
<!-- child -->
<div class="child" id="why">
    <div class="container">
        <div class="title">Если детский развивающий центр - то Футбик</div>
        <div class="row">
            <div class="col-lg-6">
                <img src="img/child.png" data-src="img/child.png" alt=""  class="child__img lazy">
            </div>
            <div class="col-lg-6 child__list">
                <div class="child__item wow fadeInUp"  data-wow-delay="0s">
                <p class="child__title"><span class="button inverse">ЧТО?</span></p>
                <p>Футбик – это сеть клубов развивающего футбола для дошкольников, которая открывается по франшизе.</p>
                </div>
                <div class="child__item wow fadeInUp"  data-wow-delay="0.3s">
                <p class="child__title"><span class="button inverse">КОГДА?</span></p>
                <p>Сейчас! Рынок постоянно растет, а спрос превышает предложение.                </p>
                </div>
                <div class="child__item wow fadeInUp"  data-wow-delay="0.6s">
                <p class="child__title"><span class="button inverse">ДЛЯ КОГО?</span></p>
                <p>Родителям детей от <em>1,5</em> до <em>7</em> лет.                </p>
                </div>
                <div class="child__item wow fadeInUp"  data-wow-delay="0.9s">
                <p class="child__title"><span class="button inverse">КАК?</span></p>
                <p>Мы улучшаем личностные качества, социальные навыки, 
                    физические и футбольные характеристики. </p>
                <p><strong>Научно доказано</strong> – дети, посещающие Footbik, в <span>5 раз</span> чаще опережают своих сверстников в развитии.
                    </p>
                </div>
                <div class="child__item wow fadeInUp"  data-wow-delay="1s">
                <p class="child__title"><span class="button inverse">ПОЧЕМУ?</span></p>
                <p>Футбик - масштабируемый бизнес, который должен быть представлен во всех жилых районах города, срок окупаемости от <em>0,5</em> до <em>2</em> лет. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="child__button">
        <div class="container"><a  data-fancybox data-src="#modal"   class="button wow fadeInUp" >получить бизнес-план</a></div>
    </div>
</div>
<!-- /child -->
<!-- preference -->
<div class="preference" id="pref">
    <div class="container">
        <div class="title">Наши преимущества</div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="preference__item  wow fadeIn"  data-wow-delay="0s">
                    <div class="preference__numb">1</div>
                    <div class="preference__img"><img src="img/logo_totalsoccer.png" data-src="img/logo_totalsoccer.png" alt="" class="lazy"></div>
                    <h6>Голландская методика                    </h6>
                    <p>Занятия проходят согласно авторской методике раннего развития детей на основе обучения игре в футбол, разработаны футбольной академией <em> TOTAL SOCCER METHOD ACADEMY (Нидерланды)</em> которая позволяет подготовить ребенка к взрослой жизни и большому спорту.                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="preference__item  wow fadeIn"  data-wow-delay="0.4s">
                    <div class="preference__numb">2</div>
                    <div class="preference__img"><img src="img/artificial-intelligence.png" data-src="img/artificial-intelligence.png" alt="" class="lazy"></div>
                    <h6>Научно обоснованная эффективность тренировок
                    </h6>
                    <p>
                            У детей, занимающихся в Footbik <em> более 110 часов,</em> увеличивается шанс опередить своих сверстников. В частности в
                        <em>4.6 раз</em> чаще наблюдается прогресс мелких моторных навыков, <em>5.2 раз</em> крупной моторики, <em>5 раз</em> навыков самообслуживания и <em>3.2 раза</em> в когнитивном(интеллектуальном) развитии.                               
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="preference__item  wow fadeIn"  data-wow-delay="0.8s">
                    <div class="preference__numb">3</div>
                    <div class="preference__img"><img src="img/graph.png" data-src="img/graph.png"  class="lazy" alt=""></div>
                    <h6>Высокий LTV (Lifetime Value)                        </h6>
                    <p>За счет сбалансированных и систематических тренировок, мотивационных наград и геймификации у ребенка сохраняется и поддерживается постоянный интерес к занятиям. А родители получают регулярную обратную связь и рекомендации по развитию, наблюдая прогресса ребенка по дневнику, а также общаясь с тренерами после каждой тренировки.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="preference__item  wow fadeIn"  data-wow-delay="1.2s">
                    <div class="preference__numb">4</div>
                    <div class="preference__img"><img src="img/seo.png" data-src="img/seo.png" class="lazy" alt=""></div>
                    <h6>Собственный университет                        </h6>
                    <p>Мы постоянно развиваемся и вкладываем в R&D(research and development). Нами разработаны и систематизированы все материалы, которые понадобятся Вам для работы. Они собраны в онлайн университете, в котором регулярно проводятся обновления. Таким образом вы получаете доступ к постоянно обновляемой базе знаний.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /preference -->
<!-- content -->
<div class="content" id="do">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="content__title valign">
                    <div class="content__title-top">
                        Другие говорят, 
                    </div>
                    <div class="content__title-bottom">
                        <strong>мы делаем!</strong>
                    </div>
                </div>
                <p>Наши воспитанник в отличии от других, реально показывают результат обучения по нашей методике. </p>
            </div>
            <div class="col-lg-7">
                <div class="content__slider">
                    <div class="content__slider-block">
                        <div class="content__slider-item"><iframe width="100%" height="365" data-src="https://www.youtube.com/embed/ZPgdlNa--oA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        <div class="content__slider-item"><iframe width="100%" height="365" data-src="https://www.youtube.com/embed/T7YHPhfxaiY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<!-- money -->
<div class="money" id="how">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="money__img">
                    <figure class=" wow zoomIn"  data-wow-delay="0.2s"><img src="img/money.png" class="lazy" data-src="img/money.png" alt=""></figure>
                    <div class="title">Сколько я заработаю?</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title">Сколько я заработаю?</div>
                <div class="money__calc">    <div class="uCalc_176210"></div><script> var widgetOptions176210 = { bg_color: "transparent" }; (function() { var a = document.createElement("script"), h = "head"; a.async = true; a.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//ucalc.pro/api/widget.js?id=176210&t="+Math.floor(new Date()/18e5); document.getElementsByTagName(h)[0].appendChild(a) })();</script></div>
            </div>
            <div class="col-lg-3">
                <div class="money__button">
                <a  data-fancybox data-src="#modal"   class="button">заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /money -->
<!-- content -->
<div class="content bussiness-wrapper" id="our">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5">
                <article class="bussiness">
                    <div class="content__title">
                        <div class="content__title-top">
                                Наша бизнес-модель  
                        </div>
                        <div class="content__title-bottom">
                            <strong>эффективна</strong>
                        </div>
                    </div>
                    <p>В наших клубах занимается более 3500 детей. У нас есть опыт как региональных клубов внутри Украины так и за рубежом (с русскоязычными, украиноязычными так и англоязычными потребителями).  </p>
                    <p> Наш бизнес показал свою эффективность на разных территориях учитывая разную культурные и национальные традиции. Сети хотят видеть наш бизнес в качестве якорного арендатора. Примером является сеть ТЦ в США «ее название». </p>     
                    <p><strong>За 5 лет существования у нас нет ни одного закрытого клуба!</strong> </p>
                </article>
            </div>
            <div class="col-lg-7">
                <div class="content__slider hide-mobile">
                    <div class="content__slider-block">
                        <div class="content__slider-item"><a href="img/video.jpg" data-fancybox=""><img class="lazy" src="img/video.jpg" data-src="img/video.jpg" alt=""></a></div>
                        <div class="content__slider-item"><a href="img/video.jpg" data-fancybox=""><img class="lazy" src="img/video.jpg" data-src="img/video.jpg" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<!-- map -->
<div class="map">
        <iframe data-src="https://www.google.com/maps/d/embed?mid=1u7sB0226Nfc7ZzPufsVz7IMGUNRaD9Dy" width="100%" height="584px"></iframe>
</div>
<!-- /map -->
<!-- franchising -->
<div class="franchising" id="ready">
    <div class="container">
        <div class="title"> Готовые решения для франчайзи</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="franchising__item wow fadeIn"  data-wow-delay="0s">
                    <figure>
                      <img src="img/stadistics.png" data-src="img/stadistics.png" class="lazy" alt="">
                    </figure>
                    <p>Готовая и проверенная финансовая модель и бизнес-стратегия, проверенная на практике</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="franchising__item wow fadeIn"  data-wow-delay="0.4s">
                    <figure>
                        <img src="img/talk.png" data-src="img/talk.png"   class="lazy" alt="">
                    </figure>
                    <p>Профессиональная консультация по вопросам успешного ведения бизнеса на всех этапах развития                        </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="franchising__item wow fadeIn"  data-wow-delay="0.8s">
                    <figure>
                          <img src="img/creativity.png" data-src="img/creativity.png"  class="lazy" alt="">
                    </figure>
                    <p>Подробная пошаговая инструкция по открытию, уникальный дизайн-проект и полный набор дизайн-макетов                         </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /franchising -->
<!-- videos -->
<div class="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <figure class="videos__item">
                    <iframe width="100%" height="215" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <figcaption>Футбик на ХТЗ. Вечеринка!                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6">
                <figure class="videos__item">
                   <iframe width="100%" height="215" data-src="https://www.youtube.com/embed/JvHlwJjmJBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <figcaption>Футбик на ХТЗ. Вечеринка!                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6">
                <figure class="videos__item">
                    <iframe width="100%" height="215" data-src="https://www.youtube.com/embed/omqJDMeFrxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <figcaption>Футбик на ХТЗ. Вечеринка!                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6">
                <figure class="videos__item">
                    <iframe width="100%" height="215" data-src="https://www.youtube.com/embed/JvHlwJjmJBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <figcaption>Футбик на ХТЗ. Вечеринка!                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- /videos -->
<!-- structure -->
<div class="structure" id="structure">
    <div class="container">
        <div class="title">Структура компании</div>
        <div class="structure__button"><h5>ФРАНЧАЙЗИ</h5></div>
        <div class="structure__line"><img src="img/lines.png"  data-src="img/lines.png" class="lazy"  alt=""></div>
        <div class="structure__section">
            <div class="row">
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar.png" data-src="img/avatar.png" class="lazy"  alt="">
                    </figure>
                    <p>IT отдел</p>
                </div>
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar2.png" data-src="img/avatar2.png" class="lazy"  alt="">
                    </figure>
                    <p>Маркетинг</p>
                </div>
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar3.png" data-src="img/avatar3.png" class="lazy"  alt="">
                    </figure>
                    <p>Промо отдел</p>
                </div>
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar4.png" data-src="img/avatar4.png" class="lazy"  alt="">
                    </figure>
                    <p>Главный
                            тренер</p>
                </div>
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar5.png" data-src="img/avatar5.png" class="lazy"   alt="">
                    </figure>
                    <p>Call-center</p>
                </div>
                <div class="col-lg-2 col-6">
                    <figure>
                        <img src="img/avatar6.png"  data-src="img/avatar6.png" class="lazy"  alt="">
                    </figure>
                    <p>Отдел закупок
                            /Склад</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /structure -->
<!-- partner -->
<div class="partner" id="what">
    <div class="container partner__container">
        <div class="row justify-content-end">
            <div class="col-lg-5">
                <div class="title"> Условия партнерства                    </div>
                <ul>
                    <li>  Право использовать бренд «Footbik»</li>
                    <li>  Готовый персональный дизайн-проект Вашего клуба</li>
                    <li>  Уникальная методика тренировок, разработанная TSM Академией (Нидерланды), которая применяется в Footbik</li>
                    <li>  Доступ к постоянно обновляемой информации в университете</li>
                    <li>  Обучение персонала и тренеров</li>
                    <li>  Качественный инвентарь и мебель</li>
                    <li>  Система привлечения и обработки потенциальных Клиентов</li>
                    <li>  CRM-система</li>
                    <li>  Организация процесса предпродаж (Presale)</li>
                    <li>  Выезд команды запуска на открытие Вашего клуба и на начало продаж</li>
                    <li>  Систематическая аттестация персонала, которая дает Вам возможность быть уверенным в квалификации</li>
                    <li>  Реклама Ваших маркетинговых мероприятий в корпоративных социальных сетях и на официальном сайте
                            </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container partner__bottom">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h4>Получите бизнес-план по открытию клуба 
                        развивающего футбола для дошкольников прямо сейчас</h4>
            </div>
            <div class="col-lg-4">
                <div class="partner__button">
                <a  data-fancybox data-src="#modal"   class="button">получить бизнес-план</a>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- /partner -->
<!-- content -->
<div class="content content-admin" id="social">
    <div class="container">
        <div class="title">Социальное доказательство</div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="content__title content__title-admin">
                    <div class="content__title-bottom">
                        <small>Нам доверяет администрация  </small>
                    </div>
                </div>
                <p>Вручение благодарности создателю клуба Footbik Кабану Евгению Евгеньевичу от директора Департамента по делам семьи, молодежи и спорта Харьковского городского совета –</p>
                <p><b>Чубарова Алексея Сергеевича
                       </b> </p>
            </div>
            <div class="col-lg-7">
                <div class="content__img hide-mobile"><iframe width="100%" height="365" data-src="https://www.youtube.com/embed/BjiJ5JdfVAY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<!-- client -->
<div class="content client-wrap">
    <div class="container">
        <div class="content__title mobile-title">
            <div class="content__title-bottom">
                <small>Нам доверяют Клиенты</small>
            </div>
        </div>
       <div class="clients">
           <div class="clients__item"><a href="img/IMG_7786.jpg" data-fancybox="gallery"><img data-src="img/IMG_7786.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/IMG_7781.jpg" data-fancybox="gallery"><img data-src="img/IMG_7781.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/О7.jpg" data-fancybox="gallery"><img data-src="img/О7.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/О10.jpg" data-fancybox="gallery"><img data-src="img/О10.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/q.png" data-fancybox="gallery"><img data-src="img/q.png" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/О1.jpg" data-fancybox="gallery"><img data-src="img/О1.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/bt4.jpg" data-fancybox="gallery"><img data-src="img/bt4.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/О2.jpg" data-fancybox="gallery"><img data-src="img/О2.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/IMG_7700.jpg" data-fancybox="gallery"><img data-src="img/IMG_7700.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/bt2.jpg" data-fancybox="gallery"><img data-src="img/bt2.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/bt1.jpg" data-fancybox="gallery"><img data-src="img/bt1.jpg" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/1.png" data-fancybox="gallery"><img data-src="img/1.png" class="lazy" alt=""></a></div>
           <div class="clients__item"><a href="img/IMG_7796.jpg" data-fancybox="gallery"><img data-src="img/IMG_7796.jpg" class="lazy" alt=""></a></div>
       </div>
    </div>
</div>
<!-- /client -->
<!-- prof -->
<div class="content prof-wrap">
    <div class="container">
        <div class="content__title  mobile-title">
            <div class="content__title-bottom">
                <small>Нам доверяют профессиональные футболисты                    </small>
            </div>
        </div>
       <div class="prof">
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
                <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
               <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
               <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
               <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
               <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
           <div class="prof__item">
                <figure><iframe width="100%" height="206" data-src="https://www.youtube.com/embed/K3aGHBkVgFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
               <p>Турнир Footbik Cup Open — смотрим, как все было</p>
           </div>
       </div>
    </div>
</div>
<!-- /prof -->
<!-- cite -->
<div class="cite" id="ceo">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="title">Основатель клуба Футбик</div>
                <div class="cite__section">
                    <blockquote>
                       <p>Меня зовут Евгений. Я - основатель и владелец «Footbik».</p>

                       <p>Когда у меня рос сын Данил, я не знал, захочет ли он стать футболистом, возясь с утра до вечера с мячом, и какую профессию выберет. Но я точно знал, что хочу, чтобы у Данила было счастливое детство, он был здоров и стал успешным человеком, который умеет ставить цели и добиваться, когда повзрослеет.</p>
                        
                       <p>Инструментом, который поможет ему в этом, мог бы стать футбол, но на рынке услуг я увидел лишь «постсоветские» секции, где дети были лишь расходным материалом для удовлетворения тренерских амбиций, где крик и унижение были  самыми распространенными педагогическими приемами.</p>
                        
                       <p>Моему сыну повезло попасть в голландский футбольный лагерь, в котором я увидел, что может быть совсем по-другому: где тренеры – это педагоги, вовлекающие детей в мир спорта, которые видят в каждом ребенке уникальную личность, а футбол – это инструмент, помогающий личности раскрыться.</p>
                        
                       <p>Я побывал во многих футбольных академиях Европы. Да, везде своя специфика в воспитании футболистов.  В Нидерландах – это техника работы с мячом, в Испании – искусство паса и «держания мяча»,  в Англии - упор делается на развитие физических кондиций игрока. Везде разный футбол, однако, везде дети НАСЛАЖДАЛИСЬ ИГРОЙ. Тренировочный процесс не был для них тяжелой работой, а в первую очередь – ИГРОЙ.</p>
                        
                       <p>Так появилась мечта – привезти европейский футбол домой, чтобы тысячи мальчишек и девчонок получили возможность познакомиться с тем, «другим» футболом, который заставляет гореть глаза и дарит детям эмоции, благодаря которым это спорт №1 в мире.</p>
                        
                       <p>Судьба свела, на мой взгляд, с одним из лучших специалистов в детском футболе, -  Mark Huis int Veld’ом. Он помог нам привить европейскую футбольную культуру в Украине. Прошло немало времени, пришлось приложить много усилий, чтобы можно было сказать: в Украине создан Европейский развивающий центр футбола для дошкольников, впитавший в себя лучшие европейские традиции. </p>
                        
                       <p> Благодаря чему тысячи детей в Украине получили равные, а может даже лучшие условия для своего развития: в первую очередь как личности, которые умеют работать в команде, дисциплинированны и умеют фокусироваться на достижении главных целей – все то, чему учит Footbik! Enjoy the Game!</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cite__img">
                    <img data-src="img/owner.png" src="img/owner.png" class="lazy" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /cite -->
{% endblock %}