<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- bnr -->
<div class="bnr">
    <div class="bnr__title">
        <div class="container">
            Откройте свой бизнес <br> по надежной франшизе
        </div>
    </div>
    <div class="bnr__subtitle">
        <div class="container">
            Получайте стабильный доход   <a href="#" class="button">от <strong>2000$</strong>  в месяц</a> <br>
            развивая следующее поколение.
        </div>
    </div>
    <div class="bnr__button">
        <div class="container">
            <a href="#" class="button">получить бизнес-план</a>
        </div>
    </div>
</div>
<!-- /bnr -->
{% endblock %}